<!DOCTYPE html>
<html>
<head>
<title> My web</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-gg0yR0iXCbMQv3xipma34MD+dH/1fQ784/j6cY/iJTQU0hcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
button:hover{background-color:green}
.sch{color:teal;font-size:20px}
ul>li{font-size:20px}
h1 { color:brown; margin:30px;paddind:5px;}
h2 { margin:30px;paddind:5px;}
.sch,.schl {font-weight:bold;}
a:visited{color:yellow;}
p,img {paddind:1px; margin:30px;font-size:20px;}
#ph {position:absolute;visibility:visible;top:5px;right:60px;z-index:100;}
</style>
</head>
<body>
<h1>Olalekan Rahman's Profile</h1>
<h2> Historical Background</h2>
<p>Olalekan Rahman Abiodun was born at Olomodudu's compound Ekunle, Iseyin in Oyo state Nigeria on the 10th of June 1981 to the family of Mr AbdulHammed Olalekan Adeleke and Mrs Medinat Ayanlola-Olalekan</p>
<div id="ph">
<img src="C:\Users\ABBEY\Desktop\photo.jpg" height=100px width=100px>
</div>
<h2>Academic History</h2>
<p>Mr Olalekan attended <span class="sch">Methodist Primary School Ago-Ijio Iseyin</span> and then proceeded to <span class="sch">Iseyin District Grammar School</span> Iseyin. Having failed to secure a credit in English Language in his West African Senior School Examinations, he re-enrolled at <span class="sch">Ansar-Deen Grammar School Opapa Oyo</span> where he made a C4 in English Language. He then proceeded to the <a class="schl" href="https://www.unilag.edu.ng"><span class="sch">University of Lagos Nigeria</span ></a> for his BSc in Petroleum and Gas Engineering and MSc(2019) in Biomedical Engineering. He had Distinction in his MSc and conducted research in <a class="schl" href="https://www.github.com/OlalekanRahman/WORKAI/Thesis"> Optimization of Diagnosis and Management of Schizophrenia  using Data Mining Algorithms.</a> 
</p>
</body>
<h2>Machine Learning Experiences-></h2>
<ul>
<li> Feature selection</li>
<li> Feature engineering</li>
<li> Regresiion</li>
<li> Classification</li>
<li> NLP</li>
<li> Deep Learning</li>
<ul><li> Keras</li><li> Tensorflow</li></ul>
</ul>

<button><a href="table.html">Next page</a>
</button>
